.content {
    text-align: center;
    margin-top: 1cm;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    background-color: rgb(101, 101, 206);
    padding: 1cm;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1cm;
    border: 2cm;
    
    justify-content: space-between;
}

.button {
    line-height: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}