body {
    background-size: cover;
}
.content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    background-color: rgb(101, 101, 206);
    padding: 1cm;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1cm;
    border: 2px;
    flex-direction: column;
}

.button {
    margin-top: 30px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    width: 50%;
    border-radius: 20px;
}

.pushable {
    background: rgb(6, 6, 160);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(101, 101, 206);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }