<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computer Vision</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h1 class="title">This is going to be a Computer Vision application.</h1>
        <div class="buttons"></div>
            <button class="button">Object Detection</button>
            <button class="button">Object Tracking</button>
            <button class="button">Image Recognition</button>    
        </div>
    </div>
</body>
</html>