<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computer Vision</title>
    <style>
        .title {text-align: center;}
        .buttons {text-align: center}
        button {border: 2px solid blue; background-color: blue}
    </style>
</head>
<body>
    <h1 class="title">This is going to be a Computer Vision application.</h1>
        <div class="buttons">
            <button>Object Detection</button>
            <button>Object Tracking</button>
            <button>Image Recognition</button>
        </div>
</body>
</html>