{% extends 'layout.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="content"> 
        <h1 class="title">This is going to be a Computer Vision application.</h1>
        <div class="buttons">
            <button class="button pushable" onclick="location.href='{{ url_for('object_detection_page') }}';">
                <span class="front">Object Detection</span>
            </button>
            <button class="button pushable" onclick="location.href='{{ url_for('object_tracking_page') }}';">
                <span class="front">Object Tracking</span>
            </button>
            <button class="button pushable" onclick="location.href='{{ url_for('image_recognition_page') }}';">
                <span class="front">Image Recognition</span>
            </button>    
        </div>
    </div>
{% endblock %}