{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #resizable {}
        #resizable img { text-align: center; margin: 0; }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#resizable" ).resizable();
        } );
    </script>
    
{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="title">Object Detection</h1>
        <div class="image-content">
            <div class="data">
                <form class="form" action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
                    <div class="upload-image-file">
                        <span class="label-image-text">Image:</span>
                        <input class="input-image" type="file" name="file"><br>
                    </div>
                    <div class="submit-button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <div id="resizable" class="image-rendered ui-widget-content">
                    {% if img %}
                    <img class="object-detection-img ui-widget-header" src="data:image/jpeg;base64,{{ img }}" />
                    {% endif %}
                </div>
            </div>
            <div class="table-results">
                {{ results|safe }}
            </div>
        </div>
    </div>
{% endblock %}