{% extends 'layout.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="title">Object Detection</h1>
        <div class="image-content">
            <div class="data">
                <form class="form" action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
                    <div class="upload-image-file">
                        <span class="label-image-text">Image:</span>
                        <input class="input-image" type="file" name="file"><br>
                    </div>
                    <div class="submit-button">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <div class="image-rendered">
                    {% if img %}
                    <img class="object-detection-img" src="data:image/jpeg;base64,{{ img }}" />
                    {% endif %}
                </div>
            </div>
            <div class="table-results">
                {{ results|safe }}
            </div>
        </div>
    </div>
{% endblock %}